{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <head>
      <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <div class="mt-5">
        <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-200">
        What's a Book - Bask Office</h1>
        <p class="text-sm font-semibold text-gray-500 dark:text-gray-200">
        Vous êtes connecté en tant que {{ userRole }}.</p>
        <p class="mt-4">Bienvenue  {{app.user.firstname}} {{ app.user.lastname }} !</p>

    <div>
        <div class="grid gap-4 lg:gap-8 md:grid-cols-3 p-8">
            <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800">
                <div class="space-y-2">
                    <div
                        class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-medium text-gray-500 dark:text-gray-200">
                        <span>Nombre d'adhérents</span>
                    </div>

                    <div class="text-3xl">
                        {{ memberCount }} membres
                    </div>

                    <div class="flex items-center space-x-1 rtl:space-x-reverse text-sm font-medium text-green-600">

                        <span>+32 cette semaine !</span>

                        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800">
                <div class="space-y-2">
                    <div
                        class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-medium text-gray-500 dark:text-gray-200">
                        <span>Nombre d'emprunts</span>
                    </div>

                    <div class="text-3xl">
                        {{ loanCount }} emprunts
                    </div>

                    <div class="flex items-center space-x-1 rtl:space-x-reverse text-sm font-medium text-red-600">

                        <span>-2.6% cette semaine</span>

                        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M12 13a1 1 0 100 2h5a1 1 0 001-1V9a1 1 0 10-2 0v2.586l-4.293-4.293a1 1 0 00-1.414 0L8 9.586 3.707 5.293a1 1 0 00-1.414 1.414l5 5a1 1 0 001.414 0L11 9.414 14.586 13H12z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800">
                <div class="space-y-2">
                    <div
                        class="flex items-center space-x-2 rtl:space-x-reverse text-sm font-medium text-gray-500 dark:text-gray-200">
                        <span>Nombre de réservations</span>
                    </div>

                    <div class="text-3xl">
                        {{ reservationsCount }} réservations
                    </div>

                    <div class="flex items-center space-x-1 rtl:space-x-reverse text-sm font-medium text-green-600">

                        <span>+{{ reservationsCount }} cette semaine !</span>

                        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid gap-4 lg:gap-8 md:grid-cols-3 p-8">
        <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800 flex items-center justify-center transition-all duration-200 ease-in-out transform hover:border-indigo-500 hover:border-4 hover:shadow-lg">
            <a class="space-y-2"
                href='https://localhost:8008/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CLoanCrudController'
            >
                <div class="text-3xl text-center">
                    Consulter les emprunts
                </div>
            </a>
        </div>

        <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800 flex items-center justify-center transition-all duration-200 ease-in-out transform hover:border-indigo-500 hover:border-4 hover:shadow-lg">
            <a class="space-y-2"
                href='https://localhost:8008/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CSuggestionCrudController'
            >
                <div class="text-3xl text-center">
                    Consulter les suggestions
                </div>
            </a>
        </div>

        <div class="relative p-6 rounded-2xl bg-white shadow dark:bg-gray-800 flex items-center justify-center transition-all duration-200 ease-in-out transform hover:border-indigo-500 hover:border-4 hover:shadow-lg">
            <a class="space-y-2"
                href='https://localhost:8008/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CReservationCrudController'
            >
                <div class="text-3xl text-center">
                    Consulter les réservations
                </div>
            </a>
        </div>
    </div>

    <!-- Votre contenu personnalisé ici -->
{% endblock %}